<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YOLOV5 Runner</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename= 'images/logo.png') }}"
      type="image/png"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/slider.css') }}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/index.css') }}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/interface.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://kit.fontawesome.com/0c87a70838.js"></script>
  </head>

  <body>
    <div class="navbar">
      <ul>
        <li>
          <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        </li>
        <li>
          <a href="/interface"><i class="fas fa-photo-video"></i> Inference</a>
        </li>
        <li>
          <a href="/stream"><i class="fas fa-photo-video"></i> Webcam</a>
        </li>
        <li>
          <a href="/doc"><i class="fas fa-book"></i> Documentation</a>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="form-cols form-cols-bis" style="align-items: center">
        <div class="separation">
          <div class="middle-text">Upload images (multiple)</div>
          <form
            action="/upload_images"
            enctype="multipart/form-data"
            method="post"
          >
            <input
              class="choose"
              id="upload_images"
              name="upload_images[]"
              type="file"
              multiple="multiple"
              accept="image/*.jpeg , image/*.jpg"
            />
            <div class="wrap">
              <button class="button" name="sub" type="submit">Upload</button>
            </div>
          </form>
          <br />
          <div class="middle-text">Upload labels (multiple)</div>
          <form
            action="/upload_labels"
            enctype="multipart/form-data"
            method="post"
          >
            <input
              class="choose"
              id="upload_labels"
              name="upload_labels[]"
              type="file"
              multiple="multiple"
              accept="*.txt"
            />
            <div class="wrap">
              <button class="button" name="sub_label" type="submit">
                Upload
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="form-cols">
        <form method="POST" action="/inference">
          <div class="form-cols" style="align-items: center">
            <div class="box">
              Models
              <select id="model_names" name="model_names">
                {% for item in items %}
                <option name="model_name" value="{{ item }}">{{ item }}</option>
                {% endfor %}
              </select>
            </div>
            <div>
              <div
                style="
                  display: flex;
                  justify-content: flex-start;
                  flex-direction: column;
                  align-items: center;
                "
              >
                <label
                  for="conf_threshold"
                  style="color: white; font-family: 'Lato'; margin: 15px"
                  >Choose a confidence threshold</label
                >
                <input
                  class="range"
                  type="range"
                  id="conf_threshold"
                  name="conf_threshold"
                  value="0.25"
                  min="0"
                  max="1"
                  step="0.05"
                  oninput="this.nextElementSibling.value = this.value"
                />
                <output style="color: white; font-family: 'Lato'">0.25</output>
              </div>
              <div
                style="
                  display: flex;
                  justify-content: flex-start;
                  flex-direction: column;
                  align-items: center;
                "
              >
                <label
                  for="conf_threshold"
                  style="color: white; font-family: 'Lato'; margin: 15px"
                  >Choose an IoU for NMS</label
                >
                <input
                  class="range"
                  type="range"
                  id="iou"
                  name="iou"
                  value="0.45"
                  min="0"
                  max="1"
                  step="0.05"
                  oninput="this.nextElementSibling.value = this.value"
                />
                <output style="color: white; font-family: 'Lato'">0.45</output>
              </div>
              <button type="submit" class="btn btn-1 btn-sep icon-network">
                Inference
              </button>
            </div>
          </div>
        </form>
        <form method="GET" action="/clear_cache">
          <button type="submit" class="btn btn-3 btn-sep icon-clear">
            Clear Cache
          </button>
        </form>
      </div>
      <h2 style="color: white">Inferences</h2>
      <div class="container" style="width: 100%">
        <div class="slider">
          <div class="slide_viewer">
            <div class="slide_group">
              {% for image_name in image_names %}
              <div class="slide">
                <img
                  src="{{url_for('send_image', filename=image_name)}}"
                  style="max-width: 100%; max-height: 100%; height: auto"
                />
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- End // .slider -->

        <div class="slide_buttons"></div>

        <div class="directional_nav">
          <div class="previous_btn" title="Previous">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="65px"
              height="65px"
              viewbox="-11 -11.5 65 66"
            >
              <g>
                <g>
                  <path
                    fill="#ffffff"
                    d="M-10.5,22.118C-10.5,4.132,4.133-10.5,22.118-10.5S54.736,4.132,54.736,22.118
              c0,17.985-14.633,32.618-32.618,32.618S-10.5,40.103-10.5,22.118z M-8.288,22.118c0,16.766,13.639,30.406,30.406,30.406 c16.765,0,30.405-13.641,30.405-30.406c0-16.766-13.641-30.406-30.405-30.406C5.35-8.288-8.288,5.352-8.288,22.118z"
                  />
                  <path
                    fill="#ffffff"
                    d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564	c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"
                  />
                </g>
              </g>
            </svg>
          </div>
          <div class="next_btn" title="Next">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="65px"
              height="65px"
              viewbox="-11 -11.5 65 66"
            >
              <g>
                <g>
                  <path
                    fill="#ffffff"
                    d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5	c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288	c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z"
                  />
                  <path
                    fill="#ffffff"
                    d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"
                  />
                </g>
              </g>
            </svg>
          </div>
        </div>
        <!-- End // .directional_nav -->
      </div>
    </div>
    <div class="footer">By Dorian VOYDIE</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
      $(".slider").each(function () {
        var $this = $(this);
        var $group = $this.find(".slide_group");
        var $slides = $this.find(".slide");
        var bulletArray = [];
        var currentIndex = 0;
        var timeout;

        function move(newIndex) {
          var animateLeft, slideLeft;

          // advance();

          if ($group.is(":animated") || currentIndex === newIndex) {
            return;
          }

          bulletArray[currentIndex].removeClass("activated");
          bulletArray[newIndex].addClass("activated");

          if (newIndex > currentIndex) {
            slideLeft = "100%";
            animateLeft = "-100%";
          } else {
            slideLeft = "-100%";
            animateLeft = "100%";
          }

          $slides.eq(newIndex).css({
            display: "flex",
            left: slideLeft,
          });
          $group.animate(
            {
              left: animateLeft,
            },
            function () {
              $slides.eq(currentIndex).css({
                display: "none",
              });
              $slides.eq(newIndex).css({
                left: 0,
              });
              $group.css({
                left: 0,
              });
              currentIndex = newIndex;
            }
          );
        }

        function advance() {
          clearTimeout(timeout);
          timeout = setTimeout(function () {
            if (currentIndex < $slides.length - 1) {
              move(currentIndex + 1);
            } else {
              move(0);
            }
          }, 4000);
        }

        $(".next_btn").on("click", function () {
          if (currentIndex < $slides.length - 1) {
            move(currentIndex + 1);
          } else {
            move(0);
          }
        });

        $(".previous_btn").on("click", function () {
          if (currentIndex !== 0) {
            move(currentIndex - 1);
          } else {
            move($slides.length - 1);
          }
        });

        $.each($slides, function (index) {
          var $button = $('<a class="slide_btn">&bull;</a>');

          if (index === currentIndex) {
            $button.addClass("activated");
          }
          $button
            .on("click", function () {
              move(index);
            })
            .appendTo(".slide_buttons");
          bulletArray.push($button);
        });

        // advance();
      });
    </script>
  </body>
</html>
