<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YOLOV5 Runner</title>
    <link
      rel="icon"
      href="{{ url_for('static',filename='images/logo.png') }}"
      type="image/png"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static',filename='css/index.css') }}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static',filename='css/interface.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://kit.fontawesome.com/0c87a70838.js"></script>
  </head>

  <body>
    <div class="navbar">
      <ul>
        <li>
          <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        </li>
        <li>
          <a href="/interface"><i class="fas fa-photo-video"></i> Inference</a>
        </li>
        <li>
          <a href="/stream"><i class="fas fa-photo-video"></i> Webcam</a>
        </li>
        <li>
          <a href="/doc"><i class="fas fa-book"></i> Documentation</a>
        </li>
      </ul>
    </div>
    <form method="POST" action="/stream">
      <div class="form-cols" style="align-items: center">
        <div class="box" style="margin-right: 5%">
          Models
          <select id="model_names" name="model_names">
            {% for item in items %}
            <option name="model_name" value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="box" style="margin-right: 5%">
          Sources
          <select id="sources" name="sources">
            {% for source,address in sources.items() %}
            <option name="sources" value="{{ address }}">{{ source }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <button type="submit" class="btn btn-1 btn-sep icon-stream">
            Streaming
          </button>
        </div>
      </div>
    </form>
    <iframe
      id="Iframe"
      frameborder="0"
      style="
        background: transparent;
        width: 1280px;
        height: 720px;
        overflow: auto;
        text-align: center;
      "
      src="{{ url_for('video_feed',model_name=model_name,source=source) }}"
    >
    </iframe>

    <div class="footer">By Dorian VOYDIE</div>
  </body>
</html>
